<% @posts.each do |post| %>
  <tr>
    <td><%= link_to "#{post.title}", post %></td>
    <td><%= post.user.name %></td>
    <td><%= post.status %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
