<h1><%= current_user.name.pluralize %> Dashboard</h1>

<div class="section">
  <h2>Authors</h2>
  <table>
    <tr>
      <th>Author</th>
      <th>Email</th>
      <th>Posts</th>
      <th></th>
    </tr>
    <%= render @users %>
    <tr><td colspan="4"><%= link_to "Add Author", new_user_path %></td></tr>
  </table>
  <hr>
</div>

<div class="section">
  <h2>Posts</h2>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
    <%= render "posts" %>
    <tr><td colspan="5"><%= link_to 'New Post', new_post_path %></td></tr>
  </table>
  <hr>
</div>
