<h2><%= link_to "#{post.title}", post %></h2>
<small>by <%= post.user.name %> <%= "on #{post.published_at.strftime("%Y")}" if post.published_at %></small>
<br>
<%= post.text %>
<% if is_admin? %>
  <hr>
  <%= link_to 'Edit', edit_post_path(post) %>
  |
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<hr>
