<% if current_user %>
  Author: <%= current_user.name %>
  |
  <%= link_to 'Home', root_url %>
  |
  <%= link_to 'Dashboard', dashboard_user_path(current_user) %>
  |
  <%= link_to 'New Post', new_post_path %>
  |
  <%= link_to "Log out", session_path(current_user), method: "delete" %>
<% else %>
  <%= link_to 'Home', root_url %>
  |
  <%= link_to "Log in", new_session_path %>
<% end %>
<hr>
